/* start of section booking  */

.booking {
	height: 455px;
	margin-bottom: 100px;
}

.booking-header {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

/* end of section booking */
