/* start of section faq */

.faq {
	margin-bottom: 100px;
}

.faq-header {
	margin-bottom: 40px;
	font-family: 'Arial';
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.faq .faq-item {
	font-weight: 700;
	font-size: 24px;
	padding: 20px 70px;
	margin-bottom: 20px;
	list-style-type: none;
	line-height: 46px;
}

.faq-item:nth-child(odd) {
	background-color: #fff;
	color: #1c1a1a;
}

.faq-item:nth-child(even) {
	background-color: #440f51;
	color: #fff;
}

.faq-item:nth-child(odd):hover {
	cursor: pointer;
	opacity: 0.8;
}

.faq-item:nth-child(even):hover {
	cursor: pointer;
	opacity: 0.8;
}

.faq-item::after {
	content: '';
	width: 46px;
	height: 46px;
	background-image: url('../img/open-purple.svg');
	background-repeat: no-repeat;
	float: right;
}

.faq-item:nth-child(even)::after {
	background-image: url('../img/open.svg');
}

.faq-list {
	margin: 0;
	padding: 0;
}

.faq-item:last-child {
	margin: 0;
}

/* end of section faq */
