.faq__item {
	font-weight: 700;
	font-size: 24px;
	padding: 20px 70px;
	margin-bottom: 20px;
	list-style-type: none;
	line-height: 46px;
}

.faq__item:nth-child(odd) {
	background-color: #fff;
	color: #1c1a1a;
}

.faq__item:nth-child(even) {
	background-color: #440f51;
	color: #fff;
}

.faq__item:nth-child(odd):hover {
	cursor: pointer;
	opacity: 0.8;
}

.faq__item:nth-child(even):hover {
	cursor: pointer;
	opacity: 0.8;
}

.faq__item::after {
	content: '';
	width: 46px;
	height: 46px;
	background-image: url('../img/open-purple.svg');
	background-repeat: no-repeat;
	float: right;
}

.faq__item:nth-child(even)::after {
	background-image: url('../img/open.svg');
}

.faq__list {
	margin: 0;
	padding: 0;
}

.faq__item:last-child {
	margin: 0;
}
