.header {
	padding: 146px 0 100px;
}

.container-header {
	position: relative;
	min-height: 823px;
	background: url('../img/man.png') bottom -30px right 20px no-repeat;
}

.header-logo {
	position: relative;
	margin: 0;
	font-family: 'Arial';
	font-weight: 900;
	font-size: 150px;
	letter-spacing: -0.1em;
	color: #ffffff;
	z-index: 7;
}

.img-logo {
	position: absolute;
	top: 100px;
	right: 0;
}

.subheader-logo {
	margin: 0;
	padding-left: 100px;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 28px;
	color: #ffffff;
}
